extends layout

block content
  h1 NuevaMatricula
  p Alta de nueva asignatura
  form(id="newAsignatura" action="/asignatura/save")
    p Nombre: 
    input(type='text',name='aName', id='aName')
    br
    p Num horas: 
    input(type='text',name='numHoras', id='numHoras')
    br
    p Professor: 
    div(id="docente")
    br
    p Alumno: 
    div(id="alumno")
    br
    input(type="submit")
  script.

    var alumnos = `#{alumnos}`;
    var docentes = `#{docentes}`;
    //cannot create the checkboxes cause the query results are string, and cannot be parsed to json
    console.log(alumnos);

    //references to the divs used 
    var divDoc = document.getElementById("docente");
    var divAl = document.getElementById("alumno");

    docentes.forEach(element => {
      var divForTeacher = document.createElement("div");
      var checkboxTeacher = document.createElement("radius");
      checkboxTeacher.value = element._id;
      checkboxTeacher.name = "teacher";
      checkboxTeacher.id = "teacher";
      var name = document.createElement("label");
      name.value = element.name + " " + element.apellido;
      divForTeacher.appendChild(checkboxTeacher);
      divForTeacher.appendChild(name);
      divDoc.appendChild(divForTeacher);
    });

    alumnos.forEach(element => {
      var divForAlum = document.createElement("div");
      var checkboxalum = document.createElement("radius");
      checkboxalum.value = element._id;
      checkboxalum.name = "alumno";
      checkboxalum.id = "alumno";
      var name = document.createElement("label");
      name.value = element.name + " " + element.apellido;
      divForAlum.appendChild(checkboxalum);
      divForAlum.appendChild(name);
      divAl.appendChild(divForAlum);
    });
